@use "../main";

.contact {
  background-color: main.$primary-black;
  color: main.$white;

  .contact_content {
    margin: auto;
    text-align: center;
    padding: main.$content-padding;
    max-width: 1280px;

    h1 {
      @include main.content_header;
    }

    .contact_items {
      font-size: 1.5em;
      line-height: 1.5em;

      span {
        display: block;
      }

      span:nth-child(1) {
        font-weight: 200;
      }

      span:nth-child(3) {
        color: main.$pink;
      }
    }
  }
}
