@import "../main";

.contact {
  flex: 1;
  background-color: $secondary-black;
  color: white;

  .contact_content {
    margin: auto;
    padding: 2em;
    width: 1280px;

    .contact_items {
      display: flex;
      flex-direction: row;
      gap: 2em;

      .item {
        flex: 1;
        padding: 1em;
        background-color: $primary-black;
      }
    }
  }
}
