@import "../main";

.contact {
  background-color: $primary-black;
  color: $white;

  .contact_content {
    margin: auto;
    text-align: center;
    padding: $content-padding;
    width: 1280px;

    h1 {
      @include content_header;
    }

    .contact_items {
      font-size: 1.5em;
      line-height: 1.5em;

      span {
        display: block;
      }

      span:nth-child(1) {
        font-weight: 200;
      }

      span:nth-child(3) {
        color: $pink;
      }
    }
  }
}
