@use "../main";
@use "../responsive.scss";

.experience {
  background-color: main.$white;
  color: main.$secondary-black;

  .experience_content {
    margin: auto;
    padding: main.$content-padding;
    text-align: center;
    max-width: 1200px;

    .recommended {
      display: flex;
      flex-direction: column;
      align-items: center;

      .aarne_avatar {
        border-radius: 7em;
        border: 7px solid main.$blue;
      }

      .text {
        font-size: main.$paragraph;
      }

      .name {
        font-size: 1.2em;
        color: main.$blue;
      }
    }

    .job_logos {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2em;
      gap: 1.5em;
      justify-content: center;

      .job_logo {
        object-fit: contain;
        width: 25%;
        height: auto;

        @media (max-width: responsive.$mobile-large) {
          width: 60%;
        }

        @media (width > responsive.$mobile-large) and (max-width: responsive.$tablet) {
          width: 40%;
        }
      }
    }
  }
}
