@import "../main";

.experience {
  background-color: $white;
  color: $secondary-black;

  .experience_content {
    margin: auto;
    padding: $content-padding;
    width: 1280px;

    .recommended {
      display: flex;
      flex-direction: column;
      align-items: center;

      .aarne_avatar {
        border-radius: 7em;
        border: 7px solid $blue;
      }

      .text {
        font-size: 1.5em;
        width: 50vw;
        margin: 0.7em 0;
        text-align: center;
      }

      .name {
        font-size: 1.2em;
        color: $blue;
      }
    }

    .job_logos {
      display: flex;
      height: 7vh;
      justify-content: center;
      margin-top: 4em;

      .job_logo {
        margin: 0 1.5em;
      }
    }
  }
}
