@import "../main";

.header {
  flex: 1;
  background-color: $primary-black;
  color: white;

  .header_content {
    display: flex;
    margin: auto;
    padding: $content-padding;
    width: 1280px;
    text-align: center;

    .header_text {
      flex: 2;

      h1,
      h2,
      p {
        font-weight: 200;
        margin: 0.2em;
      }

      h1 {
        font-size: 4em;
        color: $pink;
      }

      h2 {
        font-size: 3em;
      }

      p {
        font-size: 1.5em;
        line-height: 1.2em;
      }
    }
  }
}
