@use "../main";
@use "../responsive.scss";

.header {
  background-color: main.$primary-black;
  color: main.$white;

  .header_content {
    display: flex;
    padding-top: 1em;
    margin: auto;
    max-width: 1200px;
    white-space: pre-wrap;

    @media (max-width: responsive.$tablet) {
      flex-direction: column-reverse;
    }

    .header_content_left {
      flex: 3;
      padding: main.$content-padding;

      .text {
        h2 {
          margin: 0;
          font-weight: 300;
          font-size: clamp(1.5em, 5vw, 2em);
        }

        h1 {
          font-weight: 600;
          color: main.$pink;
          font-size: clamp(2em, 8vw, 3em);
          margin: 0.3em 0;
        }

        p {
          margin: 2em 0 3em 0;
          font-size: main.$paragraph;
          font-weight: 300;
        }
      }

      .buttons {
        display: flex;
        gap: 0.8em;
        align-items: center;

        .button_cv {
          text-decoration: auto;
          text-align: center;
          padding: 0.5em 1.2em;
          border-radius: 0.7em;
          background-color: main.$pink;
          border: 1px solid main.$pink;
          color: main.$white;
          font-size: 1.5em;

          &:hover {
            background-color: main.$primary-black;
            color: main.$pink;
          }
        }

        .button_icon {
          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }

    .header_content_right {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: responsive.$tablet) {
        border-bottom: 5px solid main.$pink;
      }

      .image {
        max-width: 100%;
        height: auto;

        @media (width > responsive.$mobile-large) and (max-width: responsive.$tablet) {
          max-width: 60%;
          margin: auto;
        }
      }
    }
  }
}
