@import "../main";

.header {
  background-color: $primary-black;
  color: $white;

  .header_content {
    display: flex;
    margin: auto;
    padding: $content-padding;
    width: 1280px;
    text-align: left;
    white-space: pre-wrap;

    .header_content_left {
      flex: 2;

      .text {
        h2 {
          margin: 0;
          font-weight: 300;
          font-size: 2em;
        }

        h1 {
          font-weight: 600;
          color: $pink;
          font-size: 3em;
          margin: 0.3em 0;
        }

        p {
          margin: 2em 0 3em 0;
          font-size: 1.3em;
          font-weight: 300;
        }
      }

      .buttons {
        display: flex;
        align-items: center;

        .button_cv {
          text-decoration: auto;
          padding: 0.5em 1.5em;
          border-radius: 0.7em;
          background-color: $pink;
          border: 1px solid $pink;
          color: $white;
          font-size: 1.5em;

          &:hover {
            background-color: $primary-black;
            color: $pink;
          }
        }

        .button_icon {
          margin-left: 1em;

          &:hover {
            cursor: pointer;
            opacity: 0.5;
          }
        }
      }
    }

    .header_content_right {
      flex: 1;

      .image {
      }
    }
  }
}
