@use "../main";

.projects {
  background-color: main.$white;

  .projects_content {
    margin: auto;
    padding: main.$content-padding;
    max-width: 1200px;

    h1 {
      @include main.content_header;
      color: main.$secondary-black;
    }

    .project_items {
      column-count: 2;
      column-gap: 1em;

      @media (max-width: 960px) {
        column-count: 1;
      }

      .project_card {
        display: flex;
        flex-direction: column;
        padding: 0.8em;
        border-radius: 1.5em;
        background-color: main.$secondary-black;
        color: main.$white;
        margin-bottom: 1em;
        break-inside: avoid;

        .project_image {
          margin: auto;
          max-width: 99%;
          height: auto;
          border-radius: 1.5em;
          margin-bottom: 0.5em;
          border: 2px solid main.$blue;
        }

        .project_content {
          display: flex;
          flex-direction: column;
          padding: 0.8em 0.5em 0 0.5em;

          .project_name {
            font-size: main.$title;
          }

          .project_categories {
            display: flex;
            flex-direction: row;

            .project_category {
              margin: 1em 0.5em 0 0;
              border: 1px solid main.$white;
              width: fit-content;
              font-size: main.$paragraph;
              border-radius: 0.5em;
              padding: 0.3em 0.5em;
            }
          }

          .project_description {
            text-align: left;
            font-size: main.$paragraph;
            margin-bottom: 1em;
          }

          .button_project {
            align-self: center;
            text-align: center;
            display: flex;
            align-items: center;
            text-decoration: auto;
            margin: 0.3em;
            padding: 0.5em 1.5em;
            border-radius: 0.7em;
            background-color: main.$blue;
            border: 1px solid main.$blue;
            color: main.$secondary-black;

            &:hover {
              background-color: main.$secondary-black;
              color: main.$blue;
            }

            .button_icon {
              margin-left: 0.2em;
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}
