@use "../main";

.projects {
  background-color: main.$white;

  .projects_content {
    margin: auto;
    padding: main.$content-padding;
    max-width: 960px;

    h1 {
      @include main.content_header;
      color: main.$secondary-black;
    }

    p {
      text-align: center;
      font-size: main.$paragraph;
    }

    .project_items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;

      @media (max-width: 650px) {
        grid-template-columns: 1fr;
      }

      .project_card {
        display: flex;
        flex-direction: column;
        padding: 0.8em;
        border-radius: 1.5em;
        background-color: main.$secondary-black;
        color: main.$white;

        .project_image {
          width: 100%;
          height: 200px;
          border-radius: 1.5em;
          margin-bottom: 0.5em;
          border: 2px solid main.$blue;
          object-fit: cover;
        }

        .project_name {
          font-size: 1.7em;
        }

        .project_description {
          text-align: left;
          font-size: 1.1em;
          margin-bottom: 3em;
          flex-grow: 1;
        }

        .button_project {
          align-self: center;
          text-align: center;
          text-decoration: auto;
          padding: 0.5em 1.5em;
          border-radius: 0.7em;
          background-color: main.$blue;
          border: 1px solid main.$blue;
          color: main.$secondary-black;

          &:hover {
            background-color: main.$secondary-black;
            color: main.$blue;
          }
        }
      }
    }
  }
}
