@import "../main";

.projects {
  background-color: $white;

  .projects_content {
    margin: auto;
    padding: $content-padding;
    max-width: 1280px;

    h1 {
      @include content_header;
      color: $secondary-black;
    }

    .project_items {
      display: flex;
      flex-direction: row;
      margin: 0 2em;
      gap: 1em;

      .project_card {
        flex: 1;
        position: relative;
        padding: 0.8em;
        border-radius: 1.5em;
        background-color: $secondary-black;
        color: $white;

        .project_image {
          border-radius: 1.5em;
          margin-bottom: 0.5em;
          border: 2px solid $blue;
        }

        .project_name {
          font-size: 1.7em;
        }

        p {
          font-size: 1.1em;
          margin-bottom: 3em;
        }

        .button_project {
          position: absolute;
          bottom: 0.8em;
          left: 50%;
          transform: translate(-50%, 0);
          text-align: center;
          text-decoration: auto;
          padding: 0.5em 1.5em;
          border-radius: 0.7em;
          background-color: $blue;
          border: 1px solid $blue;
          color: $secondary-black;

          &:hover {
            background-color: $secondary-black;
            color: $blue;
          }
        }
      }
    }
  }
}
