@import "../main";

.skills {
  flex: 1;
  background-color: $secondary-black;
  color: white;

  .skills_content {
    margin: auto;
    padding: 2em;
    width: 1280px;

    .skill_items {
      display: flex;
      gap: 1em;

      .item {
        flex: 1;
        text-align: left;
        background-color: $primary-black;
        h3 {
          text-align: center;
        }
      }
    }
  }
}
