@import "../main";

.skills {
  background-color: $primary-black;
  color: $white;

  .skills_content {
    margin: auto;
    padding: $content-padding;
    max-width: 960px;

    h1 {
      @include content_header;
      color: $white;
    }

    .skill_items {
      display: flex;
      flex-wrap: wrap;
      gap: 2em;

      .item {
        flex: 1;
        text-align: left;
        background-color: $secondary-black;
        padding: 1.8em;
        border-radius: 1em;

        .item_header {
          display: flex;
          align-items: center;

          .icon {
            margin-right: 0.4em;
            font-size: clamp(1.6em, 6vw, 2.5em);
            padding: 0.3em;
            background-color: $pink;
            border-radius: 2em;
            overflow: visible;
          }

          .category {
            font-size: clamp(1.6em, 5vw, 2em);
          }
        }

        ul {
          font-size: 1.3em;
          line-height: 1.5em;
        }
      }
    }
  }
}
