@import "../main";

.skills {
  background-color: $primary-black;
  color: $white;

  .skills_content {
    margin: auto;
    padding: $content-padding;
    width: 960px;

    h1 {
      font-size: 3em;
      font-weight: 600;
      text-align: center;
    }

    .skill_items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 1.5em;
      grid-row-gap: 1.5em;

      .item {
        text-align: left;
        background-color: $secondary-black;
        padding: 1.8em;
        border-radius: 1em;
      }

      .item:nth-child(1) {
        grid-area: 1 / 1 / 4 / 2;
      }

      .item:nth-child(2) {
        grid-area: 1 / 2 / 3 / 3;
      }

      .item:nth-child(3) {
        grid-area: 3 / 2 / 4 / 3;
      }
    }
  }
}
