// Color palette
$primary-black: #2e2e35;
$secondary-black: #34343b;
$blue: #51e5ff;
$pink: #ec368d;
$white: #f5f3f5;

// Structure
$content-padding: 2em;
$paragraph: 1.3em;

@mixin content_header {
  margin: 0 0 0.5em 0;
  font-size: 2.8em;
  font-weight: 600;
  text-align: center;
}

@mixin back_to_index_button {
  cursor: pointer;
  text-align: center;
  padding: 0.5em 1.2em;
  border-radius: 0.7em;
  background-color: $blue;
  border: 1px solid $blue;
  color: white;
  font-size: 1.2rem;

  &:hover {
    background-color: white;
    color: $blue;
  }

  .icon {
    vertical-align: text-bottom;
  }
}
