@use "../main";

.sentiment {
  line-height: 1.7rem;
  font-size: 1.25rem;
  color: black;

  .sentiment_project {
    max-width: 1280px;
    margin: auto;
    padding: 2em 0.4em;

    .sentiment_back_button {
      @include main.back_to_index_button;
    }
  }

  li {
    margin-bottom: 0.3em;
  }
}
