.sentiment_insights_item {
  border: 1px solid #eb5757;

  h3 {
    margin: 0;
    padding: 0.5em;
    background-color: #eb5757;
    color: white;
    text-align: center;
  }

  .item_content {
    display: flex;
    flex-direction: column-reverse;
    padding: 0.8em;

    .item_text {
      margin-top: 0.4em;

      ul {
        margin: 0;
      }
    }

    .item_images {
      display: flex;
      gap: 0.5em;
      justify-content: center;

      .image {
        max-width: 30%;
        height: auto;
        //border: 1px solid lightgray;
        padding: 0.2em;
      }
    }
  }
}
