@use "../main";

.sentiment {
  line-height: 1.7rem;
  font-size: 1.25rem;
  color: black;

  h2 {
    text-align: center;
  }

  .sentiment_project {
    max-width: 1280px;
    margin: auto;
    padding: 2em;

    .sentiment_back_button {
      @include main.back_to_index_button;
    }

    .sentiment_title {
      font-size: 3rem;
      line-height: 2.8rem;
    }
  }

  li {
    margin-bottom: 0.3em;
  }
}
