.sentiment_summary {
  .nss_table_container {
    margin-top: 1em;
    display: flex;
    justify-content: center;

    .nss_score_table_image {
      margin-bottom: 0.5em;
      border: 1px solid #9a9a9a;
      padding: 0.2em;
      justify-self: center;
      max-width: 50%;
      height: auto;
    }
  }

  .mentions_image_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;

    .image {
      max-width: 100%;
      height: auto;
      border: 1px solid #9a9a9a;
      padding: 0.2em;
    }
  }
}
