.sentiment_insights_item {
  border: 1px solid #eb5757;

  h3 {
    margin: 0;
    padding: 0.5em;
    background-color: #eb5757;
    color: white;
    text-align: center;
  }

  .item_content {
    display: flex;
    align-items: flex-start;

    .item_text {
      flex: 1;
      padding: 0.8em;

      ul {
        margin: 0;
        padding-left: 1em;
      }
    }

    .item_images {
      flex: 1;
      padding: 0.8em;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 6px;
      column-gap: 9px;

      .image {
        max-width: 98%;
        height: auto;
        border: 1px solid lightgray;
        padding: 0.2em;
      }
    }
  }
}
