.sentiment_intro {
  .sentiment_intro_header {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      line-height: 1.2em;
    }

    .header_image {
      margin: 0.2em;
      width: 40%;
      height: auto;
    }
  }
}
